ACTION=="add", DEVPATH=="/module/rs232_mod" SUBSYSTEM=="module" RUN="/opt/rs232_driver/create_node.sh"

ACTION=="remove", DEVPATH=="/module/rs232_mod" SUBSYSTEM=="module" RUN="/opt/rs232_driver/remove_node.sh"
